@model DEMLEYCDAMMAGSMC20240321.Models.Users

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-danger shadow-sm">
                <div class="card-header bg-danger text-white">
                    <h5 class="card-title">Confirmar eliminación</h5>
                </div>
                <div class="card-body">
                    <h3 class="text-center text-danger">¿Estás seguro de eliminar este usuario?</h3>
                    <hr>
                    <dl class="row">
                        <dt class="col-md-4 text-right">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="col-md-4 text-right">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class="col-md-8">
                            [Seguridad]
                        </dd>
                        <dt class="col-md-4 text-right">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-md-4 text-right">
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>
                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                        <dt class="col-md-4 text-right">
                            @Html.DisplayNameFor(model => model.Image)
                        </dt>
                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.Image)
                        </dd>
                        <dt class="col-md-4 text-right">
                            @Html.DisplayNameFor(model => model.RolesId)
                        </dt>
                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.RolesId)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                    <a asp-action="Index" class="btn btn-outline-secondary">Volver al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
